.container
    .card
        .card-body
            %h1.card-title= t('notes.new_note')
            = render 'form'
            = link_to notes_path, class: "btn btn-info", style: "color:white" do
                %i.fa.fa-undo
